{% load i18n %}


<nav class="navbar navbar-expand navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="{% url 'index' %}">{% trans 'Task Manager' %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_index' %}">{% trans "Users" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'status_index' %}">{% trans "Statuses" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'label_index' %}">{% trans "Labels" %}</a>
          </li>
          <li class="nav-item"  style="width: 750px;">
            <a class="nav-link" href="{% url 'task_index' %}">{% trans "Tasks" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">{% trans "Log Out" %}</a>
          </li>
          {% else %}
          <li class="nav-item" style="width: 900px;">
            <a class="nav-link" href="{% url 'user_index' %}">{% trans "Users" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">{% trans "Log In" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_create' %}">{% trans "Sign Up" %}</a>
          </li>
          {% endif %}
        </ul>
    </div>
</nav>