{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% trans "Task Manager Hexlet" %}</title>
</head>
<body>
<div>
    {% include "components/header.html" %}
</div>
<div class="container">
    <div class="col-10 ml-auto">
        {% if messages %}
            {% for message in messages %}
                <div class="row justify-content-end">
                    <div class="col-4 text-center">
                        <div class="alert alert-{{message.tags}}">
                            {{ message }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif%}
    </div>
     

    {% block content %}
    {% endblock %}
</div>
<div>
    {% include "components/footer.html" %}
</div>
</body>
</html>
