{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% trans "Task Manager Hexlet" %}</title>
</head>
<body>
<div class="container wrapper flex-grow-1">
    {% include "components/header.html" %}
    
    {% include "components/flash.html" %}

    {% block content %}
    {% endblock %}
</div>
<div>
    {% include "components/footer.html" %}
</div>
</body>
</html>
